body {
    margin: 0px;
    padding: 0px;
    background-color: black;
}

.navbar{

      height: 58px;
      display: flex;
      background-color: #fff
}

.logo{
    width: 300px;
    height: 58px;
    font-size: 30px;
    text-align: center;
    margin-top: 6px;
    margin-left: 20px;
    font-weight: 700;
    font-family: "Merienda";
    color: #e21010;
    /* background-color: #15db22; */
    text-shadow: 1px 1px 2px black,
    0 0 1em rgb(209, 237, 67),
    0 0 0.2em rgb(255, 247, 0);;
}


.menu{

        width: 30%;
        height: 57px;
        display: flex;
        justify-content: space-between;
        /* background-color: #e21010; */

}

.menu ul{

    font-size: 18px;
    
}


.menu li{

        color: black;
        display: inline;;
        margin: 29px;
        text-transform: capitalize;
        justify-content: space-between;
}


.serchbox{

        width: 350px;
        height: 30px;
        margin-top: 15px;
        display: flex;
        /* background-color: #e21010; */
        font-size: 18px;    
}

.serchbox input{

        width: 280px;
        /* height: 25px; */
        outline: none;
        box-sizing: border-box;
        border: 0.5px solid black;
        border-radius: 8px 0px 0px 8px;
}

#icon{

        width: 70px;
        /* height: 25px; */
        border-radius: 0px 8px 8px 0px;
        background-color: rgb(164, 164, 245);
}

#icon .fa-solid{

    display: flex;
    margin-top: 8px;
    font-size: 18px;
    justify-content: center;
    align-items: center;
}



