*{
    margin: 0px;
    padding: 0px;
}

body{

    background-color: #8b8bff;
}

.login-box{

            width: 400px;
            height: 600px;
            margin-left: 600px; 
            margin-top: 150px;
            border-radius: 20px;
            box-shadow: 0 0 10px;
            box-sizing: border-box;
            background-color: #8b8bff;

}

#cut-box{

        width: 300px;
        height: 500px;
        display: flex;
        border-radius: 0px 250px  260px 0px ;
        background-color: rgb(241, 241, 252);
}


.input{

    margin-left: 10px;
    margin-top: 130px;
    
}

.text{

        font-size: 17px;
        border: none;
        padding: 5px;
        font-weight: 700;
        /* box-shadow: 0 0 2px; */
        background: transparent;
        /* backdrop-filter: 20px;  */
        box-sizing: border-box;
        border-bottom: 2px solid;      

}

#password{

        margin-top: 50px;
}

.login{

    width: 280px;
    height: 60px;
    font-size: 12px;
    padding: 20px;
    margin-top: 70px;
    margin-left: 50px;
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow: 0 0 5px;
    background-color: #fff;
}

.top-corner{

        width: 150px;
        height: 70px;
        display: flex;
        margin-left: 200px;
        margin-top: -500px;
        border-radius: 0px 0px  70px 70px;
        background-color:hsl(240, 93%, 72%);
        /* background-color: red; */
}

a{

    text-decoration: none;
    color: black;
}

.bottom-corner{

        width: 251px;
        height: 190px;
        /* display: flex; */
        margin-left: 150px;
        margin-top: 340px;
        border-radius: 280px 120px  20px 0px;
        background-color:#4d4dff;

}

.corner-text{

    margin-left: 40px;
    padding: 50px; 
    color: #fff;
    font-size: 25px; 
    font-weight: 700;

}

