*{
    margin: 0px;
    padding: 0px;
}



 #header-box{

    width: 65px;
    height: 70px;
    background-color:#fff;
    box-sizing: border-box;
    box-shadow: 0 0 4px;
    margin: 60px 100px 100px 150px;
    
} 

.Symbol-box{

    width: 140px;
    height: 125px;
    margin-top: 50px;
    margin-left: 480px;
    box-shadow: 0 0 7px;
    background-color: #ccccb3;
}

.Symbol-box:hover{

            background-color: #ebccff;
}



#numbers{

    width:15px;
    height: 10px;
    font-size: 12px;
    padding: 2px;
    /* background-color:red; */
    font-weight:bold; 
}


.box{
       width: 65px;
       height: 70px;
       margin-top: -125px;
       box-shadow: 0 0 7px;
       background-color:#ccd9ff


}

#tag{
        text-align: center;
        font-size: 25px;
        margin:0% 0% 0% 

}

.paragraph{

    text-align: center;
    font-size: 12px;
    margin:0% 0% 1%;
    font-weight: 700; 
    
}

.mass{

    text-align: center;
    font-size: 10px;
    font-weight: 700;
    
}

/* .box1{
    width: 65px;
    height: 70px;
    margin-top: 3px;
    box-shadow: 0 0 7px;
    background-color: #ff66ff;
    
} */

.box3{
        width: 65px;
        height: 70px;
        margin-top: 3px;
        box-shadow: 0 0 7px;
        background-color:#ff66ff ;        
    
}

.box11{
    width: 65px;
    height: 70px;
    margin-top: 3px;
    box-shadow: 0 0 7px;
    background-color: #ff66ff;

}

.box19{
    width: 65px;
    height: 70px;
    margin-top: 3px;
    box-shadow: 0 0 7px;
    background-color: #ff66ff;

}

.box37{
    width: 65px;
    height: 70px;
    margin-top: 3px;
    box-shadow: 0 0 7px;
    background-color: #ff66ff;

}

.box55{
    width: 65px;
    height: 70px;
    margin-top: 3px;
    box-shadow: 0 0 7px;
    background-color: #ff66ff;

}

.box87{
    width: 65px;
    height: 70px;
    margin-top: 3px;
    box-shadow: 0 0 7px;
    background-color: #ff66ff;

}

/* ---------------------------------------------------- */

 #aside-box{

    width: 65px;
    height: 140px;
    margin-top: -99.5px;
    margin-left: 220px;
    box-shadow: 0 0 4px;
    background-color:#fff;
} 

.box4{
    width: 65px;
    height: 70px;
    margin-top: 5px;
    box-shadow: 0 0 7px;
    background-color: #ff8533;

}

.box12{
    width: 65px;
    height: 70px;
    margin-top: 3px;
    box-shadow: 0 0 7px;
    background-color: #ff8533;

}

.box20{
    width: 65px;
    height: 70px;
    margin-top: 3px;
    box-shadow: 0 0 7px;
    background-color: #ff8533;

}

.box38{
    width: 65px;
    height: 70px;
    margin-top: 3px;
    box-shadow: 0 0 7px;
    background-color: #ff8533;

}

.box56{
    width: 65px;
    height: 70px;
    margin-top: 3px;
    box-shadow: 0 0 7px;
    background-color: #ff8533;

}

.box88{
    width: 65px;
    height: 70px;
    margin-top: 3px;
    box-shadow: 0 0 7px;
    background-color: #ff8533;

}

/* -----------------main-box----------------------------------------------------------- */


#main-box{
            width: 65px;
            height: 0px;
            margin-left: 290px;
            margin-top: 6px;
            box-shadow: 0 0 4px;
            background-color:#fff;
}

.box21{
    width: 65px;
    height: 70px;
    margin-top: 3px;
    box-shadow: 0 0 7px;
    background-color: #ffc299;

}

.box39{
    width: 65px;
    height: 70px;
    margin-top: 3px;
    box-shadow: 0 0 7px;
    background-color: #ffc299;

}

.box57-71{
    width: 65px;
    height: 70px;
    margin-top: 3px;
    box-shadow: 0 0 7px;
    background-color: #ebccff;

}

.box89-103{
    width: 65px;
    height: 70px;
    margin-top: 3px;
    box-shadow: 0 0 7px;
    background-color: #ffff80;

}

/* -----------------------------------------section-box------------------------------------------ */

#section-box{

    width: 65px;
    /* height: 289px; */
    margin-top: -290px;
    margin-left: 70px;
    box-shadow: 0 0 4px;
    background-color:#fff;
}

.box22{
    width: 65px;
    height: 70px;
    margin-top: 3px;
    box-shadow: 0 0 7px;
    background-color: #ffc299;

}

.box40{
    width: 65px;
    height: 70px;
    margin-top: 3px;
    box-shadow: 0 0 7px;
    background-color: #ffc299;

}

.box72{
    width: 65px;
    height: 70px;
    margin-top: 3px;
    box-shadow: 0 0 7px;
    background-color: #ffc299;

}

.box104{
    width: 65px;
    height: 70px;
    margin-top: 3px;
    box-shadow: 0 0 7px;
    background-color: #ffc299;

}

/* ---------------------------------------section2-box-------------------------------- */

#section2-box{

    width: 550px;
    height: 70px;
    margin-top: -290px;
    margin-left: 140px;
    display: flex;
    box-shadow: 0 0 4px;
    background-color:#fff;
}

.box23{
    width: 65px;
    height: 70px;
    /* margin-top: 3px; */
    box-shadow: 0 0 7px;
    background-color: #ffc299;

}

.box24{
    width: 65px;
    height: 70px;
    /* margin-top: 3px; */
    margin-left: 5px;
    box-shadow: 0 0 7px;
    background-color: #ffc299;

}

.box25{
    width: 65px;
    height: 70px;
    /* margin-top: 3px; */
    margin-left: 5px;
    box-shadow: 0 0 7px;
    background-color: #ffc299;

}

.box26{
    width: 65px;
    height: 70px;
    /* margin-top: 3px; */
    margin-left: 5px;
    box-shadow: 0 0 7px;
    background-color: #ffc299;

}

.box27{
    width: 65px;
    height: 70px;
    /* margin-top: 3px; */
    margin-left: 5px;
    box-shadow: 0 0 7px;
    background-color: #ffc299;

}

.box28{
    width: 65px;
    height: 70px;
    /* margin-top: 3px; */
    margin-left: 5px;
    box-shadow: 0 0 7px;
    background-color: #ffc299;

}
.box29{
    width: 65px;
    height: 70px;
    /* margin-top: 3px; */
    margin-left: 5px;
    box-shadow: 0 0 7px;
    background-color: #ffc299;

}

.box30{
    width: 65px;
    height: 70px;
    /* margin-top: 3px; */
    margin-left: 5px;
    box-shadow: 0 0 7px;
    background-color: #ffc299;

}


/* ---------------------------------------section2-box-------------------------------- --------*/

#section3-box{

    width: 550px;
    height: 70px;
    margin-top: 3px;
    margin-left: 140px;
    display: flex;
    box-shadow: 0 0 4px;
    background-color:#fff;
}

.box41{
    width: 65px;
    height: 70px;
    /* margin-top: 3px; */
    box-shadow: 0 0 7px;
    background-color: #ffc299;

}

.box42{
    width: 65px;
    height: 70px;
    /* margin-top: 3px; */
    margin-left: 5px;
    box-shadow: 0 0 7px;
    background-color: #ffc299;

}

.box43{
    width: 65px;
    height: 70px;
    /* margin-top: 3px; */
    margin-left: 5px;
    box-shadow: 0 0 7px;
    background-color: #ffc299;

}

.box44{
    width: 65px;
    height: 70px;
    /* margin-top: 3px; */
    margin-left: 5px;
    box-shadow: 0 0 7px;
    background-color: #ffc299;

}

.box45{
    width: 65px;
    height: 70px;
    /* margin-top: 3px; */
    margin-left: 5px;
    box-shadow: 0 0 7px;
    background-color: #ffc299;

}

.box46{
    width: 65px;
    height: 70px;
    /* margin-top: 3px; */
    margin-left: 5px;
    box-shadow: 0 0 7px;
    background-color: #ffc299;

}
.box47{
    width: 65px;
    height: 70px;
    /* margin-top: 3px; */
    margin-left: 5px;
    box-shadow: 0 0 7px;
    background-color: #ffc299;

}

.box48{
    width: 65px;
    height: 70px;
    /* margin-top: 3px; */
    margin-left: 5px;
    box-shadow: 0 0 7px;
    background-color: #ffc299;

}

/* -------------section4-box------------------------------------ */

#section4-box{

    width: 550px;
    height: 70px;
    margin-top: 3px;
    margin-left: 140px;
    display: flex;
    box-shadow: 0 0 4px;
    background-color:#fff;
}

.box73{
    width: 65px;
    height: 70px;
    /* margin-top: 3px; */
    box-shadow: 0 0 7px;
    background-color: #ffc299;

}

.box74{
    width: 65px;
    height: 70px;
    /* margin-top: 3px; */
    margin-left: 5px;
    box-shadow: 0 0 7px;
    background-color: #ffc299;

}

.box75{
    width: 65px;
    height: 70px;
    /* margin-top: 3px; */
    margin-left: 5px;
    box-shadow: 0 0 7px;
    background-color: #ffc299;

}

.box76{
    width: 65px;
    height: 70px;
    /* margin-top: 3px; */
    margin-left: 5px;
    box-shadow: 0 0 7px;
    background-color: #ffc299;

}

.box77{
    width: 65px;
    height: 70px;
    /* margin-top: 3px; */
    margin-left: 5px;
    box-shadow: 0 0 7px;
    background-color: #ffc299;

}

.box78{
    width: 65px;
    height: 70px;
    /* margin-top: 3px; */
    margin-left: 5px;
    box-shadow: 0 0 7px;
    background-color: #ffc299;

}
.box79{
    width: 65px;
    height: 70px;
    /* margin-top: 3px; */
    margin-left: 5px;
    box-shadow: 0 0 7px;
    background-color: #ffc299;

}

.box80{
    width: 65px;
    height: 70px;
    /* margin-top: 3px; */
    margin-left: 5px;
    box-shadow: 0 0 7px;
    background-color: #ffc299;

}

/* ------------------------section5-box--------------------------------------------- */


#section5-box{

    width: 550px;
    height: 70px;
    margin-top: 3px;
    margin-left: 140px;
    display: flex;
    box-shadow: 0 0 4px;
    background-color:#fff;
}

.box105{
    width: 65px;
    height: 70px;
    /* margin-top: 3px; */
    box-shadow: 0 0 7px;
    background-color: #ffc299;

}

.box106{
    width: 65px;
    height: 70px;
    /* margin-top: 3px; */
    margin-left: 5px;
    box-shadow: 0 0 7px;
    background-color: #ffc299;

}

.box107{
    width: 65px;
    height: 70px;
    /* margin-top: 3px; */
    margin-left: 5px;
    box-shadow: 0 0 7px;
    background-color: #ffc299;

}

.box108{
    width: 65px;
    height: 70px;
    /* margin-top: 3px; */
    margin-left: 5px;
    box-shadow: 0 0 7px;
    background-color: #ffc299;

}

.box109{
    width: 65px;
    height: 70px;
    /* margin-top: 3px; */
    margin-left: 5px;
    box-shadow: 0 0 7px;
    background-color: #ffc299;

}

.box110{
    width: 65px;
    height: 70px;
    /* margin-top: 3px; */
    margin-left: 5px;
    box-shadow: 0 0 7px;
    background-color: #ffc299;

}
.box111{
    width: 65px;
    height: 70px;
    /* margin-top: 3px; */
    margin-left: 5px;
    box-shadow: 0 0 7px;
    background-color: #ffc299;

}

.box112{
    width: 65px;
    height: 70px;
    /* margin-top: 3px; */
    margin-left: 5px;
    box-shadow: 0 0 7px;
    background-color: #ffc299;

}

/* ----------------top---------------- */



/* -----------------------------------left box--------------------------- */

#left-box{
                width: 417px;
                height: 70px;
                margin-top: -148px;
                margin-left: 985px;
                box-shadow: 0 0 4px;
                display: flex;
                background-color: #fff;
}

.box5{
    width: 65px;
    height: 70px;
    /* margin-top: 3px; */
    /* margin-left: 5px; */
    box-shadow: 0 0 7px;
    background-color: #80bfff;

}

.box6{
    width: 65px;
    height: 70px;
    /* margin-top: 3px; */
    margin-left: 5px;
    box-shadow: 0 0 7px;
    background-color: #adc2eb;

}

.box7{
    width: 65px;
    height: 70px;
    /* margin-top: 3px; */
    margin-left: 5px;
    box-shadow: 0 0 7px;
    background-color: #adc2eb;

}

.box8{
    width: 65px;
    height: 70px;
    /* margin-top: 3px; */
    margin-left: 5px;
    box-shadow: 0 0 7px;
    background-color: #adc2eb;

}

.box9{
    width: 65px;
    height: 70px;
    /* margin-top: 3px; */
    margin-left: 5px;
    box-shadow: 0 0 7px;
    background-color: #e6ccff;

}

.box10{
    width: 65px;
    height: 70px;
    /* margin-top: 3px; */
    margin-left: 5px;
    box-shadow: 0 0 7px;
    background-color: #cc99ff;

}

/* ----------------------left-box2--------------- */

#left-box2{

            width: 417px;
            height: 70px;
            margin-top: 3px;
            margin-left: 985px;
            box-shadow: 0 0 4px;
            display: flex;
            background-color: #fff;
}

.box13{
    width: 65px;
    height: 70px;
    /* margin-top: 3px; */
    /* margin-left: 5px; */
    box-shadow: 0 0 7px;
    background-color: rgb(77, 255, 136);

}

.box14{
    width: 65px;
    height: 70px;
    /* margin-top: 3px; */
    margin-left: 5px;
    box-shadow: 0 0 7px;
    background-color: #80bfff;

}

.box15{
    width: 65px;
    height: 70px;
    /* margin-top: 3px; */
    margin-left: 5px;
    box-shadow: 0 0 7px;
    background-color: #adc2eb;

}

.box16{
    width: 65px;
    height: 70px;
    /* margin-top: 3px; */
    margin-left: 5px;
    box-shadow: 0 0 7px;
    background-color: #adc2eb;

}

.box17{
    width: 65px;
    height: 70px;
    /* margin-top: 3px; */
    margin-left: 5px;
    box-shadow: 0 0 7px;
    background-color: #e6ccff;

}

.box18{
    width: 65px;
    height: 70px;
    /* margin-top: 3px; */
    margin-left: 5px;
    box-shadow: 0 0 7px;
    background-color: #cc99ff;

}

/* ----------left-box3------------------------- */

#left-box3{

            width: 417px;
            height: 70px;
            margin-top: 3px;
            margin-left: 985px;
            box-shadow: 0 0 4px;
            display: flex;
            background-color: #fff;
}

.box31{
    width: 65px;
    height: 70px;
    /* margin-top: 3px; */
    /* margin-left: 5px; */
    box-shadow: 0 0 7px;
    background-color: rgb(77, 255, 136);;

}.box32{
    width: 65px;
    height: 70px;
    /* margin-top: 3px; */
    margin-left: 5px;
    box-shadow: 0 0 7px;
    background-color: #80bfff;

}.box33{
    width: 65px;
    height: 70px;
    /* margin-top: 3px; */
    margin-left: 5px;
    box-shadow: 0 0 7px;
    background-color: #80bfff;

}

.box34{
    width: 65px;
    height: 70px;
    /* margin-top: 3px; */
    margin-left: 5px;
    box-shadow: 0 0 7px;
    background-color: #adc2eb

}

.box35{
    width: 65px;
    height: 70px;
    /* margin-top: 3px; */
    margin-left: 5px;
    box-shadow: 0 0 7px;
    background-color: #e6ccff;

}

.box36{
    width: 65px;
    height: 70px;
    /* margin-top: 3px; */
    margin-left: 5px;
    box-shadow: 0 0 7px;
    background-color: #cc99ff;

}

/* --------------------left-box4------------- */

#left-box4{

            width: 417px;
            height: 70px;
            margin-top: 3px;
            margin-left: 985px;
            display: flex;
            box-shadow: 0 0 4px;
            background-color:#fff;
}

.box49{
    width: 65px;
    height: 70px;
    /* margin-top: 3px; */
    /* margin-left: 5px; */
    box-shadow: 0 0 7px;
    background-color: #4dff88;

}.box50{
    width: 65px;
    height: 70px;
    /* margin-top: 3px; */
    margin-left: 5px;
    box-shadow: 0 0 7px;
    background-color: #4dff88;

}.box51{
    width: 65px;
    height: 70px;
    /* margin-top: 3px; */
    margin-left: 5px;
    box-shadow: 0 0 7px;
    background-color: #80bfff;

}.box52{
    width: 65px;
    height: 70px;
    /* margin-top: 3px; */
    margin-left: 5px;
    box-shadow: 0 0 7px;
    background-color: #80bfff;

}.box53{
    width: 65px;
    height: 70px;
    /* margin-top: 3px; */
    margin-left: 5px;
    box-shadow: 0 0 7px;
    background-color: #e6ccff;

}

.box54{
    width: 65px;
    height: 70px;
    /* margin-top: 3px; */
    margin-left: 5px;
    box-shadow: 0 0 7px;
    background-color: #cc99ff;

}

/* ---------------------left-box5--------------------- */

#left-box5{

            width: 417px;
            height: 70px;
            margin-top: 3px;
            margin-left: 985px;
            display: flex;
            box-shadow: 0 0 4px;
            background-color: #fff;
}


.box81{
    width: 65px;
    height: 70px;
    /* margin-top: 3px; */
    /* margin-left: 5px; */
    box-shadow: 0 0 7px;
    background-color: #4dff88;

}.box82{
    width: 65px;
    height: 70px;
    /* margin-top: 3px; */
    margin-left: 5px;
    box-shadow: 0 0 7px;
    background-color: #4dff88;

}.box83{
    width: 65px;
    height: 70px;
    /* margin-top: 3px; */
    margin-left: 5px;
    box-shadow: 0 0 7px;
    background-color: #4dff88;

}.box84{
    width: 65px;
    height: 70px;
    /* margin-top: 3px; */
    margin-left: 5px;
    box-shadow: 0 0 7px;
    background-color: #80bfff;

}.box85{
    width: 65px;
    height: 70px;
    /* margin-top: 3px; */
    margin-left: 5px;
    box-shadow: 0 0 7px;
    background-color: #e6ccff;

}

.box86{
    width: 65px;
    height: 70px;
    /* margin-top: 3px; */
    margin-left: 5px;
    box-shadow: 0 0 7px;
    background-color: #cc99ff;

}


/* -------------------left-box6------------------------ */

#left-box6{

    width: 417px;
    height: 70px;
    margin-top: 5px;
    margin-left: 985px;
    display: flex;
    box-shadow: 0 0 4px;
    background-color: #fff;
}


.box113{
width: 65px;
height: 70px;
/* margin-top: 3px; */
/* margin-left: 5px; */
box-shadow: 0 0 7px;
background-color: #4dff88;

}.box114{
width: 65px;
height: 70px;
/* margin-top: 3px; */
margin-left: 5px;
box-shadow: 0 0 7px;
background-color: #4dff88;

}.box115{
width: 65px;
height: 70px;
/* margin-top: 3px; */
margin-left: 5px;
box-shadow: 0 0 7px;
background-color: #4dff88;

}.box116{
width: 65px;
height: 70px;
/* margin-top: 3px; */
margin-left: 5px;
box-shadow: 0 0 7px;
background-color: #4dff88;

}.box117{
width: 65px;
height: 70px;
/* margin-top: 3px; */
margin-left: 5px;
box-shadow: 0 0 7px;
background-color: #e6ccff;

}

.box118{
width: 65px;
height: 70px;
/* margin-top: 3px; */
margin-left: 5px;
box-shadow: 0 0 7px;
background-color: #cc99ff;

}

#top{

    width: 65px;
    height: 70px;
    margin-top: -513px;
    margin-left: 1335px;
    box-shadow: 0 0 4px;
    background-color: #fff;
}

.top2{
    width: 65px;
    height: 70px;
    /* margin-top: 3px; */
    /* margin-left: 5px; */
    box-shadow: 0 0 7px;
    background-color: #cc99ff;

}

#last{

    width: 1045px;
    height: 70px;
    margin-top: 500px;
    margin-left: 300px;
    display: flex;
    box-shadow: 0 0 4px;
    background-color: #fff;
}

.last57{
    width: 65px;
    height: 70px;
    /* margin-top: 3px; */
    /* margin-left: 5px; */
    box-shadow: 0 0 7px;
    background-color: #ebccff;
    
}

.last58{
    width: 65px;
    height: 70px;
    /* margin-top: 3px; */
    margin-left: 5px;
    box-shadow: 0 0 7px;
    background-color: #ebccff;
    
}

.last59{
    width: 65px;
    height: 70px;
    /* margin-top: 3px; */
    margin-left: 5px;
    box-shadow: 0 0 7px;
    background-color: #ebccff;
    
    }
    
.last60{
    width: 65px;
    height: 70px;
    /* margin-top: 3px; */
    margin-left: 5px;
    box-shadow: 0 0 7px;
    background-color: #ebccff;
    
}

.last61{
    width: 65px;
    height: 70px;
    /* margin-top: 3px; */
    margin-left: 5px;
    box-shadow: 0 0 7px;
    background-color: #ebccff;
}
    
.last62{
    width: 65px;
    height: 70px;
    /* margin-top: 3px; */
    margin-left: 5px;
    box-shadow: 0 0 7px;
    background-color: #ebccff;
    
}
    
.last63{
    width: 65px;
    height: 70px;
    /* margin-top: 3px; */
    margin-left: 5px;
    box-shadow: 0 0 7px;
    background-color: #ebccff;
}
    
.last64{
    width: 65px;
    height: 70px;
    /* margin-top: 3px; */
    margin-left: 5px;
    box-shadow: 0 0 7px;
    background-color: #ebccff;
    
}

.last65{
    width: 65px;
    height: 70px;
    /* margin-top: 3px; */
    margin-left: 5px;
    box-shadow: 0 0 7px;
    background-color: #e6ccff;
}
    
.last66{
    width: 65px;
    height: 70px;
    /* margin-top: 3px; */
    margin-left: 5px;
    box-shadow: 0 0 7px;
    background-color: #ebccff;
    
}
    
.last67{
    width: 65px;
    height: 70px;
    /* margin-top: 3px; */
    margin-left: 5px;
    box-shadow: 0 0 7px;
    background-color: #ebccff;
}
    
.last68{
    width: 65px;
    height: 70px;
    /* margin-top: 3px; */
    margin-left: 5px;
    box-shadow: 0 0 7px;
    background-color: #ebccff;
    
}
    
.last69{
    width: 65px;
    height: 70px;
    /* margin-top: 3px; */
    margin-left: 5px;
    box-shadow: 0 0 7px;
    background-color: #ebccff;
}
    
.last70{
    width: 65px;
    height: 70px;
    /* margin-top: 3px; */
    margin-left: 5px;
    box-shadow: 0 0 7px;
    background-color: #ebccff;
    
}

.last71{
    width: 65px;
    height: 70px;
    /* margin-top: 3px; */
    margin-left: 5px;
    box-shadow: 0 0 7px;
    background-color: #ebccff;
    
}

/* ------------------footer-box-------------------------------------- */


#footer-box{

    width: 1045px;
    height: 70px;
    margin-top: 5px;
    margin-left: 300px;
    display: flex;
    box-shadow: 0 0 4px;
    background-color: #fff;
}

.last89{
    width: 65px;
    height: 70px;
    /* margin-top: 3px; */
    /* margin-left: 5px; */
    box-shadow: 0 0 7px;
    background-color: #ffff80;
    
}

.last90{
    width: 65px;
    height: 70px;
    /* margin-top: 3px; */
    margin-left: 5px;
    box-shadow: 0 0 7px;
    background-color: #ffff80;
    
}

.last91{
    width: 65px;
    height: 70px;
    /* margin-top: 3px; */
    margin-left: 5px;
    box-shadow: 0 0 7px;
    background-color: #ffff80;
    
    }
    
.last92{
    width: 65px;
    height: 70px;
    /* margin-top: 3px; */
    margin-left: 5px;
    box-shadow: 0 0 7px;
    background-color: #ffff80;
    
}

.last93{
    width: 65px;
    height: 70px;
    /* margin-top: 3px; */
    margin-left: 5px;
    box-shadow: 0 0 7px;
    background-color: #ffff80;
}
    
.last94{
    width: 65px;
    height: 70px;
    /* margin-top: 3px; */
    margin-left: 5px;
    box-shadow: 0 0 7px;
    background-color: #ffff80;
    
}
    
.last95{
    width: 65px;
    height: 70px;
    /* margin-top: 3px; */
    margin-left: 5px;
    box-shadow: 0 0 7px;
    background-color: #ffff80;
    
}

.last96{
    width: 65px;
    height: 70px;
    /* margin-top: 3px; */
    margin-left: 5px;
    box-shadow: 0 0 7px;
    background-color: #ffff80;
}
    
.last97{
    width: 65px;
    height: 70px;
    /* margin-top: 3px; */
    margin-left: 5px;
    box-shadow: 0 0 7px;
    background-color: #ffff80;
    
}

.last98{
    width: 65px;
    height: 70px;
    /* margin-top: 3px; */
    margin-left: 5px;
    box-shadow: 0 0 7px;
    background-color: #ffff80;
}
    
.last98{
    width: 65px;
    height: 70px;
    /* margin-top: 3px; */
    margin-left: 5px;
    box-shadow: 0 0 7px;
    background-color: #ffff80;
    
}
    
.last99{
    width: 65px;
    height: 70px;
    /* margin-top: 3px; */
    margin-left: 5px;
    box-shadow: 0 0 7px;
    background-color: #ffff80;
}
    
.last100{
    width: 65px;
    height: 70px;
    /* margin-top: 3px; */
    margin-left: 5px;
    box-shadow: 0 0 7px;
    background-color: #ffff80;
    
}
    
.last101{
    width: 65px;
    height: 70px;
    /* margin-top: 3px; */
    margin-left: 5px;
    box-shadow: 0 0 7px;
    background-color: #ffff80;
}
    
.last102{
    width: 65px;
    height: 70px;
    /* margin-top: 3px; */
    margin-left: 5px;
    box-shadow: 0 0 7px;
    background-color: #ffff80;
    
}

.last103{
    width: 65px;
    height: 70px;
    /* margin-top: 3px; */
    margin-left: 5px;
    box-shadow: 0 0 7px;
    background-color: #ffff80;
    
}

/* -------------Symbol-box----------- */
