*{

  margin: 0px;
  padding: 0px;
  
}

.box{
      width: 700px;
      height: 300px;
      top: 50%;
      left: 50%;
      box-sizing: border-box;
      position: fixed;
      border-radius: 10px;
      transform: translate(-50%, -50%);
      background-color: black
}

.Input-Field{

  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; /* Vertically centers the input */
  /* background-color: black; */
}

.Input-Field input{

  border: none;
  outline: none;
  width: 30%;
  height: 50px;
  border-radius: 6px;
  display: flex;
  margin-top: 2%;
  text-align: center;
}

.Input-Field button{

    width: 100px;
    height: 45px;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    display: flex;
    color: aliceblue;
    font-weight: 700;
    background-color: blueviolet;
    border: none;
    margin-left: 40px;
    margin-top: 15px;
}

.Input-Field button:hover{

  background-color: yellow;
  color: black;
}


.list-field{

  margin-top: 10px;
  display: flex;
  color: aliceblue;
  
}

.list-field ul li{
background-color: black;
display: flex;
color: aliceblue;
border: none;
}

.list-field ul li :hover{

  color: aliceblue;
}